# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/

# Muhit va sirlar
.env
infra/.env

# Desktop build
desktop/build/
desktop/dist/

# Mobil (Flutter)
mobile/build/
mobile/.dart_tool/
mobile/android/.gradle/
