<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!-- usesCleartextTraffic: faqat development uchun (lokal backend http://10.0.2.2).
         Production'da HTTPS + certificate pinning ishlatiladi va bu flag olib tashlanadi. -->
    <application
        android:name=".SmartMoliyaApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SmartMoliya">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartMoliya">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
