# -*- coding: utf-8 -*-
"""Bu faylni `secrets.py` deb nusxalang va o'z qiymatlaringizni yozing.
`secrets.py` ni git'ga qo'shmang.
"""

DEVICE_NAME = "picow-sensor-01"
LOCATION = "oshxona"

WIFI_SSID = "MENING_WIFI"
WIFI_PASSWORD = "wifi_parol"

MQTT_HOST = "192.168.1.10"
MQTT_PORT = 1883
MQTT_USER = "mqttuser"
MQTT_PASSWORD = "mqttparol"
MQTT_SSL = False
